html
    head
        title= "Guest List"
    link(rel="stylesheet", href="stylesheet.css")
    body
        button(onclick='window.location="/"')= "Home"
        button(onclick='window.location="/guests"')= "Guest List"
        h1="Thank you for your response"
        