html
    head
        title= "Guest List"
    link(rel="stylesheet", href="stylesheet.css")
    body
        a(href="/")
            button= "Home"
        a(href='guests')
            button= "Guest List"
        h1="Thank you for your response"
        